:root {
  --vlmGreen: #165f16;
  --boxShadow1: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --btnRadius: 8px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
  margin: 0;
}
.btn {
  padding: 8px;
  box-shadow: var(--boxShadow1);
  color: var(--vlmGreen);
  border-color: var(--vlmGreen);
  font-weight: 900;
  background-color: #fff;
  transition: background-color 200ms;
}
.btn:hover {
  cursor: pointer;
  background-color: var(--vlmGreen);
  color: #fff;
}
.button-28 {
  padding: 0.5rem 1rem;
  transition: all 120ms;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: red;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  cursor: pointer;
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
.btn-success {
  background-color: #fff;
}
.btn-success:hover {
  background-color: #4bb543;
}
canvas {
  max-width: 300px;
  max-height: 300px;
}
.code-box {
  margin-top: 40px;
  border: 1.5px dotted #000;
  padding: 2rem;
  width: min-content;
  box-sizing: border-box;
  min-width: 90%;
  background-color: #eee;
}
.code-btns {
  margin: 40px;
  display: flex;
  justify-content: space-around;
  width: 90%;
}
.color-box {
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 20px;
}
.color-element {
  transition: border-radius 80ms ease-out;
}
.color-element:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.color1-element,
.color2-element,
.color3-element {
  color: #fff;
  padding: 8px;
}
.color-palette {
  font-weight: 900;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 0.5rem 0.75rem;
  background-color: #f4f4f4;
  min-width: fit-content;
}

.company-selector {
  font-weight: 900;
  border-radius: 3px;
  padding: 18px;
  background-color: #040439;
  color: #fff;
}

.divider {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
}
form {
  margin: 30px 20px 20px 20px;
  display: flex;
  gap: 20px;
}
h1 {
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: -4.5px;
}
input[type="file"] {
  border-radius: 6px;
  border: 1px solid #000;
  padding: 8px;
  background-color: #fff;
}
#palette-1,
#palette-2,
#palette-3 {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  justify-content: flex-end;
}

#palette-1 > div,
#palette-2 > div,
#palette-3 > div {
  height: 40px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* mix-blend-mode: difference; */
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px #333;
}
.palette-wrap {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.removeCodeBtn {
  color: red;
  border: 1px solid red;
}
.copyCodeBtn:hover,
.removeCodeBtn:hover {
  cursor: pointer;
}
.removeCodeBtn:hover {
  background-color: red;
  color: #fff;
}
.selector-inputs-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #eee;
  background: linear-gradient(to right, #eee, #ccc);
  padding: 20px;
  box-shadow: 2px -1px 7px 6px #0000004d;
}
.svg-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 90%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 20px;
}
.vlm-logo {
  min-width: 400px;
  max-width: 400px;
}
.vlm-play-btn {
  max-width: 400px;
}

@media screen and (max-width: 960px) {
  .code-box {
    min-width: 80%;
  }
  .selector-inputs-wrap {
    flex-direction: column;
  }
  .svg-wrap {
    flex-direction: column;
    width: 100%;
  }
}
